@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/open_sans/OpenSans-Light.ttf);
  font-weight: 300;
}

.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin-left: 50px;
}

.header-nav .nav-bar .nav-item:first-child {
  margin-left: 0;
}

.header-nav .nav-bar .nav-item:last-child {
  margin-left: 30px;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
}

.header-nav .nav-bar .nav-item .nav-link::after {
  margin: 0 auto;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#2fefc7), color-stop(#2feec5), color-stop(#3ed79c), to(#43ce8b));
  background: linear-gradient(to right, #2fefc7, #2feec5, #3ed79c, #43ce8b);
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item .nav-link:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item .nav-link.active {
  color: #43ce8b;
}

.header-nav .nav-bar .nav-item .nav-link.active::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item span {
  font-size: 22px;
}

@media only screen and (max-width: 1199px) {
  .header-nav .nav-bar .nav-item {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 991px) {
  .nav-container {
    width: 100%;
    padding: 0;
  }
  .nav-container .row {
    margin: 0;
    position: relative;
  }
  .nav-container .row * {
    z-index: 3;
  }
  .header-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1 !important;
  }
  .header-nav .toggler-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 50px;
  }
  .header-nav .toggler-icon div {
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  .header-nav .toggler-icon div:first-child {
    margin-top: 0;
  }
  .header-nav .toggler-icon_close div {
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
  }
  .header-nav .toggler-icon_close div:first-child {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header-nav .toggler-icon_close div:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header-nav .toggler-icon_close div:last-child {
    display: none;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
  }
  .header-nav .nav-bar .nav-item {
    position: relative;
    margin-left: 0 !important;
    padding: 10px 0;
    margin-bottom: 0;
    border-top: none;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
  .header-nav .nav-bar .nav-item:hover {
    background: #eee;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #000;
    text-align: center;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
  .header-nav .nav-bar .nav-item span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .header-nav .toggler-icon {
    right: 30px;
  }
  .header-nav .nav-bar {
    top: 20px;
  }
  .header-nav .nav-bar .nav-item {
    padding: 5px 0;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    font-size: 16px;
  }
  .header-nav .nav-bar .nav-item span {
    font-size: 16px;
  }
}

@media only screen and (max-width: 567px) {
  .header-nav .toggler-icon {
    right: 20px;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
}

section {
  width: 100%;
}

.header {
  width: 100%;
  padding: 40px 0;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

.header .row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 1199px) {
  .header {
    padding: 35px 0;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 25px 0;
  }
}

.section-heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.section-heading__ttl {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.section-heading__line {
  width: 140px;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#2fefc7), color-stop(#2feec5), color-stop(#3ed79c), to(#43ce8b));
  background: linear-gradient(to right, #2fefc7, #2feec5, #3ed79c, #43ce8b);
  margin-top: 35px;
  margin-bottom: 40px;
}

.section-heading__discr {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.mymind-btn {
  padding: 22px 50px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  outline: none !important;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#2fefc7), color-stop(#2feec5), color-stop(#3ed79c), to(#43ce8b));
  background: linear-gradient(to right, #2fefc7, #2feec5, #3ed79c, #43ce8b);
  cursor: pointer;
  position: relative;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.mymind-btn:hover {
  color: #000;
}

@media only screen and (max-width: 1199px) {
  .section-heading__ttl {
    font-size: 30px;
  }
  .section-heading__line {
    width: 130px;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .section-heading__discr {
    font-size: 18px;
  }
  .mymind-btn {
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .section-heading__ttl {
    font-size: 28px;
  }
  .section-heading__line {
    width: 120px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .section-heading__discr {
    font-size: 16px;
  }
  .mymind-btn {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .section-heading__ttl {
    font-size: 26px;
  }
  .section-heading__line {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .section-heading__discr {
    font-size: 14px;
  }
  .mymind-btn {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .section-heading__ttl {
    font-size: 24px;
  }
  .section-heading__line {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .section-heading__discr {
    font-size: 14px;
  }
  .mymind-btn {
    padding: 12px 25px;
    font-size: 14px;
    border-radius: 50px;
  }
}

.banner {
  margin-top: 70px;
  padding-top: 220px;
  padding-bottom: 135px;
  background: url(../img/banner.jpg) no-repeat center/cover;
  background-attachment: fixed;
  position: relative;
  color: #fff;
}

.banner:before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
}

.banner .section-heading {
  margin-bottom: 60px;
}

.banner .section-heading__ttl {
  font-size: 45px;
  font-weight: 800;
}

.banner .section-heading h3 {
  font-size: 34px;
  font-weight: 300;
  margin: 0;
  margin-top: 20px;
}

.banner .section-heading__line {
  margin-bottom: 35px;
}

.banner .section-heading__discr {
  width: 55%;
  font-size: 24px;
  font-weight: 400;
}

@media only screen and (max-width: 1199px) {
  .banner {
    margin-top: 40px;
    padding-top: 190px;
    padding-bottom: 120px;
  }
  .banner .section-heading {
    margin-bottom: 50px;
  }
  .banner .section-heading__ttl {
    font-size: 42px;
  }
  .banner .section-heading h3 {
    font-size: 30px;
    margin-top: 20px;
  }
  .banner .section-heading__line {
    margin-bottom: 30px;
  }
  .banner .section-heading__discr {
    width: 70%;
    font-size: 22px;
  }
}

@media only screen and (max-width: 991px) {
  .banner {
    margin-top: 20px;
    padding-top: 150px;
    padding-bottom: 80px;
    background-attachment: scroll;
  }
  .banner .section-heading {
    margin-bottom: 40px;
  }
  .banner .section-heading__ttl {
    font-size: 36px;
  }
  .banner .section-heading h3 {
    font-size: 26px;
    margin-top: 15px;
  }
  .banner .section-heading__line {
    margin-bottom: 20px;
  }
  .banner .section-heading__discr {
    width: 75%;
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .banner {
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .banner .section-heading {
    margin-bottom: 30px;
  }
  .banner .section-heading__ttl {
    font-size: 32px;
  }
  .banner .section-heading h3 {
    font-size: 22px;
    margin-top: 15px;
  }
  .banner .section-heading__line {
    margin-bottom: 20px;
  }
  .banner .section-heading__discr {
    width: 85%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .banner {
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .banner .section-heading {
    margin-bottom: 30px;
  }
  .banner .section-heading__ttl {
    font-size: 28px;
  }
  .banner .section-heading h3 {
    font-size: 22px;
    margin-top: 15px;
  }
  .banner .section-heading__line {
    margin-bottom: 15px;
  }
  .banner .section-heading__discr {
    width: 95%;
    font-size: 14px;
  }
}

.landing {
  padding-top: 60px;
  padding-bottom: 100px;
}

.landing-block {
  margin-top: 40px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.landing-block h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .landing {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .landing-block {
    margin-top: 40px;
  }
  .landing-block h2 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 767px) {
  .landing {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .landing-block {
    margin-top: 30px;
  }
  .landing-block h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 576px) {
  .landing {
    padding-bottom: 50px;
  }
  .landing .section-heading__discr {
    width: 95%;
  }
  .landing-block {
    margin-top: 30px;
  }
  .landing-block h2 {
    font-size: 18px;
  }
}

.about-us {
  padding-top: 125px;
  padding-bottom: 110px;
  background: #f0f0f0;
}

.about-us-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.about-us-block__info {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.about-us-block__info .section-heading__discr {
  width: 92%;
}

.about-us-block__info .mymind-btn {
  min-width: 305px;
  margin-top: 65px;
}

.about-us-block__img img {
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .about-us {
    padding-top: 100px;
    padding-bottom: 90px;
  }
  .about-us-block__info .section-heading__discr {
    width: 100%;
  }
  .about-us-block__info .mymind-btn {
    min-width: 300px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .about-us {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .about-us-block__info {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .about-us-block__info .section-heading__discr {
    width: 90%;
  }
  .about-us-block__info .mymind-btn {
    min-width: 250px;
    margin-top: 40px;
  }
  .about-us-block__img {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .about-us {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .about-us-block__info .mymind-btn {
    min-width: 220px;
    margin-top: 30px;
  }
}
