// to compile...

@mixin gradient {
  background: -webkit-gradient(linear, left top, right top, from(#2fefc7), color-stop(#2feec5), color-stop(#3ed79c), to(#43ce8b));
  background: linear-gradient(to right, #2fefc7, #2feec5, #3ed79c, #43ce8b);
}

@import "./_components/_open-sans.scss";
@import "./_components/_nav-bar.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: OpenSans, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

section {
  width: 100%;
}

// Header
.header {
  width: 100%;
  padding: 40px 0;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;

  .row {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width : 1199px) {
  .header {
    padding: 35px 0;
  }
}

@media only screen and (max-width : 991px) {
  .header {
    padding: 30px 0;
  }
}

@media only screen and (max-width : 767px) {
  .header {
    padding: 25px 0;
  }
}

@media only screen and (max-width : 576px) {

}

// Section Heading. MyMind btn
.section-heading {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;

  &__ttl {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
  }

  &__line {
    width: 140px;
    height: 4px;
    @include gradient;
    margin-top: 35px;
    margin-bottom: 40px;
  }

  &__discr {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
}

.mymind-btn {
  padding: 22px 50px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  outline: none !important;
  text-decoration: none;
  @include gradient;
  cursor: pointer;
  position: relative;
  -webkit-transition: all, .5s;
  transition: all, .5s;

  &:hover {
    color: #000;
  }
}

@media only screen and (max-width : 1199px) {
  .section-heading {
    &__ttl {
      font-size: 30px;
    }

    &__line {
      width: 130px;
      margin-top: 30px;
      margin-bottom: 35px;
    }

    &__discr {
      font-size: 18px;
    }
  }

  .mymind-btn {
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 50px;
  }
}

@media only screen and (max-width : 991px) {
  .section-heading {
    &__ttl {
      font-size: 28px;
    }

    &__line {
      width: 120px;
      margin-top: 25px;
      margin-bottom: 30px;
    }

    &__discr {
      font-size: 16px;
    }
  }

  .mymind-btn {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 50px;
  }
}

@media only screen and (max-width : 767px) {
  .section-heading {
    &__ttl {
      font-size: 26px;
    }

    &__line {
      width: 100px;
      margin-top: 20px;
      margin-bottom: 25px;
    }

    &__discr {
      font-size: 14px;
    }
  }

  .mymind-btn {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 50px;
  }
}

@media only screen and (max-width : 576px) {
  .section-heading {
    &__ttl {
      font-size: 24px;
    }

    &__line {
      width: 100px;
      margin-top: 20px;
      margin-bottom: 25px;
    }

    &__discr {
      font-size: 14px;
    }
  }

  .mymind-btn {
    padding: 12px 25px;
    font-size: 14px;
    border-radius: 50px;
  }
}

// Section Banner
.banner {
  margin-top: 70px;
  padding-top: 220px;
  padding-bottom: 135px;
  background: url(../img/banner.jpg) no-repeat center / cover;
  background-attachment: fixed;
  position: relative;
  color: #fff;

  &:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
  }

  .section-heading {
    margin-bottom: 60px;

    &__ttl {
      font-size: 45px;
      font-weight: 800;
    }

    h3 {
      font-size: 34px;
      font-weight: 300;
      margin: 0;
      margin-top: 20px;
    }

    &__line {
      margin-bottom: 35px;
    }

    &__discr {
      width: 55%;
      font-size: 24px;
      font-weight: 400;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .banner {
    margin-top: 40px;
    padding-top: 190px;
    padding-bottom: 120px;

    .section-heading {
      margin-bottom: 50px;

      &__ttl {
        font-size: 42px;
      }

      h3 {
        font-size: 30px;
        margin-top: 20px;
      }

      &__line {
        margin-bottom: 30px;
      }

      &__discr {
        width: 70%;
        font-size: 22px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .banner {
    margin-top: 20px;
    padding-top: 150px;
    padding-bottom: 80px;
    background-attachment: scroll;

    .section-heading {
      margin-bottom: 40px;

      &__ttl {
        font-size: 36px;
      }

      h3 {
        font-size: 26px;
        margin-top: 15px;
      }

      &__line {
        margin-bottom: 20px;
      }

      &__discr {
        width: 75%;
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .banner {
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 70px;

    .section-heading {
      margin-bottom: 30px;

      &__ttl {
        font-size: 32px;
      }

      h3 {
        font-size: 22px;
        margin-top: 15px;
      }

      &__line {
        margin-bottom: 20px;
      }

      &__discr {
        width: 85%;
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .banner {
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 50px;

    .section-heading {
      margin-bottom: 30px;

      &__ttl {
        font-size: 28px;
      }

      h3 {
        font-size: 22px;
        margin-top: 15px;
      }

      &__line {
        margin-bottom: 15px;
      }

      &__discr {
        width: 95%;
        font-size: 14px;
      }
    }
  }
}

// Section Landing
.landing {
  padding-top: 60px;
  padding-bottom: 100px;

  &-block {
    margin-top: 40px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    h2 {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
  }
}

@media only screen and (max-width : 991px) {
  .landing {
    padding-top: 60px;
    padding-bottom: 80px;

    &-block {
      margin-top: 40px;

      h2 {
        font-size: 22px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .landing {
    padding-top: 50px;
    padding-bottom: 60px;

    &-block {
      margin-top: 30px;

      h2 {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .landing {
    padding-bottom: 50px;

    .section-heading {
      &__discr {
        width: 95%;
      }
    }

    &-block {
      margin-top: 30px;

      h2 {
        font-size: 18px;
      }
    }
  }
}

// Section About Us
.about-us {
  padding-top: 125px;
  padding-bottom: 110px;
  background: #f0f0f0;

  &-block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    &__info {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      text-align: left;

      .section-heading__discr {
        width: 92%;
      }

      .mymind-btn {
        min-width: 305px;
        margin-top: 65px;
      }
    }

    &__img {
      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .about-us {
    padding-top: 100px;
    padding-bottom: 90px;

    &-block {
      &__info {

        .section-heading__discr {
          width: 100%;
        }

        .mymind-btn {
          min-width: 300px;
          margin-top: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .about-us {
    padding-top: 80px;
    padding-bottom: 70px;

    &-block {
      &__info {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;

        .section-heading__discr {
          width: 90%;
        }

        .mymind-btn {
          min-width: 250px;
          margin-top: 40px;
        }
      }

      &__img {
        display: none;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .about-us {
    padding-top: 60px;
    padding-bottom: 50px;

    &-block {
      &__info {
        .mymind-btn {
          min-width: 220px;
          margin-top: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}



@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 576px) {

}
